<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset=" UTF-8 />">
    <title>YouLu-文章编辑</title>
    <link rel='shortcut icon' type='image/x-icon' th:href="@{img/logo.jpg}"/>

    <style>

        /* 页面框架 */
        body {
            padding-top: 70px;
        }

        /* 导航中的注册,登录,在线人数 */
        #example-navbar-collapse li {
            padding-right: 50px;
        }

        table .infor {
            vertical-align: middle !important;
        }

        table th {
            text-align: center;
        }

        #pagebox :hover {
            cursor: pointer;
        }

        #blogTitle {
            width: 75%;
            margin-top: 15px;
        }

        #blogCategory {
            margin-top: 15px;
            width: 10%;
        }

        #blogTag {
            margin-top: 15px;
            width: 10%;
        }

        .input-blog-title {
            float: left;
            width: 700px;
        }

        .push-blog {
            float: left;
            margin-top: 15px;
            margin-right: 10px;
        }

        .manager-blog {
            float: left;
            margin-top: 15px;
            margin-right: 100px;
        }

        .textarea-blog-introduce {
            height: 60px;
            width: 90%;
            resize: none;
            border-radius: 25px;
            border: 2px solid #a1a1a1;
            padding-left: 20px;
            padding-top: 18px;
            text-align: left;

        }

    </style>
</head>
<header th:replace="admin/header::headerFragment(${title},${active})"></header>
<body class="fixed-left">
<div id="wrapper">
    <div class="content">
        <div class="container">
            <div id="layout">
                <div style="line-height: 40px;height: 70px;padding-left: 100px">
                    <div class="input-blog-title" style="float: left">
                        <input type="text" id="blogTitle" placeholder="标题" readonly="readonly"
                               style="border-radius: 25px;border:2px solid #a1a1a1;padding-left: 20px;width: 600px"/>
                    </div>

                    <div class="push-blog">
                        <button type="button" class="btn btn-danger" id="publishBlog"
                                onclick="writeBlog.doSubmit();">
                            更新文章
                        </button>
                    </div>
                    <div class="manager-blog">
                        <button type="button" class="btn btn-primary">
                            <a th:href="@{/admin/index}" style="color: white; text-decoration:none">文章管理</a>
                        </button>
                    </div>

                </div>
                <div style="height: 60px;padding-left: 100px;">
                             <textarea placeholder="简介" autocomplete="on" id="blogIntroduce"
                                       name="text" class="textarea-blog-introduce"></textarea>
                </div>
                <div style="padding-left: 100px;margin-bottom: 10px">
                    <label>分类：</label><select id="blogCategory"></select>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label>标签：</label><select id="blogTag"></select>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label>署名：</label><input type="text" id="blogAuthor" placeholder="输入作者名字" readonly="readonly">


                    <div class="fileupload" style="margin-top: 13px">
                        <div style="float: left;padding-top: 5px"><label>选择封面图片:</label><input type="text"
                                                                                               id="blogCover"
                                                                                               name="blogCover"
                                                                                               placeholder="图片地址"
                                                                                               style="width: 300px">
                        </div>
                        <div style="float: left;padding-top: 5px;padding-left: 10px"><label>图片地址:</label></div>
                        <div style="float: left;padding-top: 2px"><input type="file" accept="image/*"
                                                                         onchange="imgPreview(this)"></div>
                        <!--预览功能-->
                        <!--<img id="preview" style="width: 100px"/>-->
                    </div>

                </div>
                <div id="test-editormd">
                    <textarea id="blogContent" style="display: none;"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
<script type="text/javascript" th:src="@{/plugin/js/jquery2.1.4.min.js}"></script>
<script type="text/javascript" th:src="@{/plugin/editormd/editormd.js}"></script>
<script th:src="@{/admin/js/blog_update.js}"></script>
<script type="text/javascript">

    var testEditor;


    $(function () {
        testEditor = editormd("test-editormd", {//注意1：这里的就是上面的DIV的id属性值
            width: "96%",
            height: 640,
            syncScrolling: "single",
            path: "/plugin/editormd/lib/",//注意2：你的路径
            saveHTMLToTextarea: true,//注意3：这个配置，方便post提交表单
            emoji: true,
            taskList: true,
            tocm: true,         // Using [TOCM]
            tex: true,                   // 开启科学公式TeX语言支持，默认关闭
            flowChart: true,             // 开启流程图支持，默认关闭
            sequenceDiagram: true,       // 开启时序/序列图支持，默认关闭,
            //dialogLockScreen : false,   // 设置弹出层对话框不锁屏，全局通用，默认为true
            //dialogShowMask : false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为true
            //dialogDraggable : false,    // 设置弹出层对话框不可拖动，全局通用，默认为true
            //dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1
            //dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为#fff
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],//支持接收的图片上传的格式
            imageUploadURL: "/admin/uploadFile", //你的controller里为上传图片所设计的路径

            /*上传图片成功后可以做一些自己的处理*/
            onload: function () {
                console.log('onload', this);
                // this.fullscreen();
                // this.unwatch();
                // this.watch().fullscreen();
                // this.width(100%);
                // this.height(480);
                // this.resize("100%", 640);
            },

            /**设置主题颜色*/
            editorTheme: "pastel-on-dark",
            theme: "gray",
            previewTheme: "dark"

        });
        categorySelect();
        tagSelect();
    });


    /* 修改发送文章*/
    var writeBlog = {
        doSubmit: function () {//提交
            if (writeBlog.doCheck()) {
                //debugger;
                var title = $("#blogTitle").val();
                var content = $("#blogContent").val();
                var tagId = $("#blogTag").val();
                var categoryId = $("#blogCategory").val();
                var author = $("#blogAuthor").val();
                var introduce = $("#blogIntroduce").val();
                var blogCover = $("#blogCover").val();
                $.ajax({
                    type: "PUT",
                    url: '/admin/updateBlog',
                    data: {
                        'title': title,
                        'content': content,
                        'tagId': tagId,
                        'categoryId': categoryId,
                        'author': author,
                        'introduce': introduce,
                        'blogCover': blogCover
                    },
                    dataType: 'text',
                    //contentType:"application/json",
                    cache: false,
                    success: function (data) {
                        if (data == "更新成功!") {
                            alert(data);
                            window.location.href = "/admin/index";
                        } else if (data == "标题已存在，请重新命名标题") {
                            alert(data);
                        } else {
                            alert(data);
                        }
                    },
                    error: function () {
                        alert("系统问题，请联系帅系的管理员");
                    }
                });
            }
        },
        doCheck: function () {//校验
            //debugger;
            var title = $("#blogTitle").val();
            var content = $("#blogContent").val();
            var author = $("#blogAuthor").val();
            var introduce = $("#blogIntroduce").val();
            var blogCover = $("#blogCover").val();
            if (typeof (title) == undefined || title == null || title == "") {
                alert("请填写文章标题!");
                return false;
            }

            if (typeof (content) == undefined || content == null || content == "") {
                alert("请填写文章内容!");
                return false;
            }

            if (typeof (author) == undefined || author == null || author == "") {
                alert("请填写文章作者署名!");
                return false;
            }

            if (typeof (author) == undefined || author == null || author == "") {
                alert("请填写文章作者署名!");
                return false;
            }

            if (typeof (introduce) == undefined || introduce == null || introduce == "") {
                alert("请填写文章简介!");
                return false;
            }

            if (typeof (blogCover) == undefined || blogCover == null || blogCover == "") {
                alert("请上传封面图片!");
                return false;
            }

            return true;
        }
    }

    //上传照片
    function imgPreview(fileDom) {

        //判断是否支持FileReader
        if (window.FileReader) {
            var reader = new FileReader();
        } else {
            alert("您的设备不支持图片预览功能，如需该功能请升级您的设备！");
        }
        //获取文件
        var file = fileDom.files[0];
        var imageType = /^image\//;
        //是否是图片
        if (!imageType.test(file.type)) {
            alert("请选择图片！");
            return;
        }
        //读取完成
        // reader.onload = function (e) {
        //     //获取图片dom
        //     var img = document.getElementById("preview");
        //     //图片路径设置为读取的图片
        //     alert(e.target.result);
        // };
        // alert(file.name);
        // alert(file.type);
        // $("#blogCover").val("/admin/img" + file.name);
        reader.readAsDataURL(file);
        var formData = new FormData();
        formData.append('blogCover', fileDom.files[0]);
        $.ajax({
            url: "/admin/uploadBlogCover",
            type: "post",
            data: formData,
            /**
             *必须false才会自动加上正确的Content-Type
             */
            contentType: false,
            /**
             * 必须false才会避开jQuery对 formdata 的默认处理
             * XMLHttpRequest会对 formdata 进行正确的处理
             */
            processData: false,
            success: function (data) {
                if (data.success == 1) {
                    alert(data.message);
                    $("#blogCover").val(data.url);
                } else {
                    alert(data.message);
                }
            }
        });
    }

</script>


</html>