<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset=" UTF-8 />">
    <title>YouLu-文章管理</title>
    <link rel='shortcut icon' type='image/x-icon' th:href="@{img/logo.jpg}"/>
</head>
<header th:replace="admin/header::headerFragment(${title},${active})"></header>
<style>

    table .infor {
        vertical-align: middle !important;
    }

    table th {
        text-align: center;
    }

    #pagebox :hover {
        cursor: pointer;
    }

    #remove-comment {
        cursor: pointer;
    }

    #reply-comment {
        cursor: pointer;
    }
</style>
<body class="fixed-left">
<div th:replace="admin/header::header-body"></div>
<div class="content-page">
    <div class="content">
        <div style="text-align: left;padding-bottom: 20px"><h3 class="comments-open-header">评论（[[${commentAllCount}]]）条</h3></div>
        <!--<div style="text-align: left;padding-bottom: 20px" th:text="${session.commentAllCount}"></div>-->
        <!--<span th:text="${commentAllCount}"></span>-->

        <div class="container" style="margin-top: 80px;" >
            <div class="row">
                <table class="table table-hover text-center">
                    <thead>
                    <tr>
                        <th>操作</th>
                        <th>评论者</th>
                        <th>博客</th>
                        <th>评论时间</th>
                        <th style="text-align: left">评论内容</th>


                    </tr>
                    </thead>
                    <tbody id="commentList">
                    </tbody>
                </table>
            </div>
        </div>

        <div class="container" id="totalpagebox" style="margin: 0 auto;width: 700px;height: 100px;" >
            <div class="row" id="pagerow" style="padding-left: 150px;">
                <ul class="pagination pagination-lg" id="pagebox">
                    <li id="first" onclick="commentList(1)"><span>首页</span></li>
                    <li id="top" onclick="prepage()"><span>上一页</span></li>
                    <li class="xifenye" id="xifenye"><span><span
                            id="currentpage">1</span>/ <span id="totalpage">1</span></span></li>
                    <li id="down" onclick="nextpage()"><span>下一页</span></li>
                    <li id="last" onclick="endpage()"><span>末页</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{/plugin/js/jquery2.1.4.min.js}"></script>
<script th:src="@{/plugin/js/bootstrap.min.js}"></script>
<script th:src="@{/admin/js/comment.js}"></script>
<script th:src="@{/admin/js/login.js}"></script>
</html>



