<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset=" UTF-8 />">
    <title>YouLu</title>
    <link rel='shortcut icon' type='image/x-icon' th:href="@{/img/logo.jpg}"/>

    <!--<script src="/js/login.js"></script>-->
    <style>
        /* 1.页面框架
            2.导航框架
            3.搜索框架
            4.轮播图框架
            5.商品图片框架

        */
        body {
            padding-top: 70px;
        }

        #addimg {
            width: 200px;
            height: 30px;
            float: left;
            padding-bottom: 15px;
            padding-left: 50px;
            font-size: 17px;
        }

        .addimg:hover {
            cursor: pointer;
        }

        /* 导航中的注册,登录,在线人数 */
        #example-navbar-collapse li {
            padding-right: 50px;
        }

        /*  商品图片框架 */
        /*  全部商品图片的框架    */
        #detailbox {
            border: 1px black solid;
            height: 200px;
            width: 1100px;
            margin: 20px auto;
            float: none;
        }

        /*  每个商品图片最外层    */
        #detailBlog {
            border: 1px black solid;
            transition: all 1s;
            margin: 0 auto;
            width: 800px;
            height: 130px;
            float: none;
        }

        #image {
            width: 300px;
            height: 150px;
            float: left;
            padding-left: 100px;
            padding-top: 10px;
        }

        #tother {
            width: 450px;
            height: 150px;
            float: left;
            padding-left: 10px;
        }

        /*  每个商品图片    */
        .img-responsive {
            transition: all 1s;
            height: 130px;
        }

        .img-responsive:hover {
            transform: scale(1.2);
        }

        .img-hidden {
            overflow: hidden;
        }

        table tr {
            text-align: left;
            height: 40px;
        }

        table .infor1 {
            width: 200px;
        }

        table .infor2 {
            width: 300px;
        }

        table .infor3 {
            width: 400px;
        }
    </style>
</head>
<body>
<!-- 头部导航栏 -->
<div th:replace="/front/header::header"></div>

<!-- 	书籍详情 -->
<div id="detailbox">
    <div id="detailBlog">

        <div class="ss-layout-container">
            <main class="ss-layout-main -card">
                <div class="ss-meta" id="blogIntroduce">
                    <!--<h1 class='title'>data.title</h1>-->
                    <!--<div class='meta'>-->
                        <!--<i class='fa fa-calendar-o'> data.pubdate</i> ·-->
                        <!--<i class='fa fa-user'> date.author</i> ·-->
                        <!--<span class='tags'><a class='tag' href='/tag/data.tag' target='_blank' rel='tag'>#data.tag</a></span> ·-->
                        <!--<i class='fa fa-heart'>data.likes</i>-->
                    <!--</div>-->
                </div>
                <div id="test-editormd-view">
                    <textarea id="append-test" style="display:none;">[[${session.blogContent.content}]]</textarea>
                </div>
                <div class="">
                    <nav class="ss-pagination-next">
                        <a class="link-prev" href="/blog/2020/04/28/n1k2gc12.html">
                            <span class="text">上一篇: </span>
                            <span class="text">Spring Boot 2.0实现基于Restful风格的文件上传与下载APIs</span>
                        </a>

                        <a class="link-prev" href="javascript:void(0);">
                            <span class="text">下一篇: </span>
                            <span class="text">没有了</span>
                        </a>
                    </nav>
                </div>

            </main>
        </div>

    </div>
</div>




<div style="height: 300px; width: 800px; margin: 0 auto; font-size: 15px; padding-top: 10px; padding-left: 20px;font-weight: bolder">

    <div class="chat-box">
        <div id="gitalk-container">
            <!--<div class="gt-container">-->
                <!--<div class="gt-meta"><span class="gt-counts"><a class="gt-link gt-link-counts"-->
                                                                <!--href="https://github.com/ramostear/ramostear-comment/issues/136"-->
                                                                <!--target="_blank">[[${session.blogContent.commentcount}]]</a> 条评论</span>-->
                    <!--<div class="gt-user">-->
                        <!--<div class="gt-user-inner"><span class="gt-user-name">未登录用户</span><span-->
                                <!--class="gt-ico gt-ico-arrdown"><span class="gt-svg"><svg viewBox="0 0 1024 1024"-->
                                                                                        <!--xmlns="http://www.w3.org/2000/svg"-->
                                                                                        <!--p-id="1619"><path-->
                                <!--d="M511.872 676.8c-0.003 0-0.006 0-0.008 0-9.137 0-17.379-3.829-23.21-9.97l-251.277-265.614c-5.415-5.72-8.743-13.464-8.744-21.984 0-17.678 14.33-32.008 32.008-32.008 9.157 0 17.416 3.845 23.25 10.009l228.045 241.103 228.224-241.088c5.855-6.165 14.113-10.001 23.266-10.001 8.516 0 16.256 3.32 21.998 8.736 12.784 12.145 13.36 32.434 1.264 45.233l-251.52 265.6c-5.844 6.155-14.086 9.984-23.223 9.984-0.025 0-0.051 0-0.076 0z"-->
                                <!--p-id="1620"></path></svg></span></span></div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="gt-header"><a class="gt-avatar-github"><span class="gt-ico gt-ico-github"><span-->
                        <!--class="gt-svg"><svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">-->
  <!--<path d="M64 524C64 719.602 189.356 885.926 364.113 947.017 387.65799 953 384 936.115 384 924.767L384 847.107C248.118 863.007 242.674 773.052 233.5 758.001 215 726.501 171.5 718.501 184.5 703.501 215.5 687.501 247 707.501 283.5 761.501 309.956 800.642 361.366 794.075 387.658 787.497 393.403 763.997 405.637 743.042 422.353 726.638 281.774 701.609 223 615.67 223 513.5 223 464.053 239.322 418.406 271.465 381.627 251.142 320.928 273.421 269.19 276.337 261.415 334.458 256.131 394.888 302.993 399.549 306.685 432.663 297.835 470.341 293 512.5 293 554.924 293 592.81 297.896 626.075 306.853 637.426 298.219 693.46 258.054 747.5 262.966 750.382 270.652 772.185 321.292 753.058 381.083 785.516 417.956 802 463.809 802 513.5 802 615.874 742.99 701.953 601.803 726.786 625.381 750.003 640 782.295 640 818.008L640 930.653C640.752 939.626 640 948.664978 655.086 948.665 832.344 888.962 960 721.389 960 524 960 276.576 759.424 76 512 76 264.577 76 64 276.576 64 524Z"></path>-->
<!--</svg>-->
<!--</span></span></a>-->
                    <!--<div class="gt-header-comment"><textarea class="gt-header-textarea " placeholder="说点什么"-->
                                                             <!--style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 72px;"></textarea>-->
                        <!--<div class="gt-header-preview markdown-body hide"></div>-->
                        <!--<div class="gt-header-controls"><a class="gt-header-controls-tip"-->
                                                           <!--href="https://guides.github.com/features/mastering-markdown/"-->
                                                           <!--target="_blank"><span class="gt-ico gt-ico-tip"><span-->
                                <!--class="gt-svg"><svg viewBox="0 0 1024 1024" version="1.1"-->
                                                    <!--xmlns="http://www.w3.org/2000/svg">-->
  <!--<path d="M512 366.949535c-16.065554 0-29.982212 13.405016-29.982212 29.879884l0 359.070251c0 16.167882 13.405016 29.879884 29.982212 29.879884 15.963226 0 29.879884-13.405016 29.879884-29.879884L541.879884 396.829419C541.879884 380.763865 528.474868 366.949535 512 366.949535L512 366.949535z"-->
        <!--p-id="3083"></path>-->
  <!--<path d="M482.017788 287.645048c0-7.776956 3.274508-15.553912 8.80024-21.181973 5.525732-5.525732 13.302688-8.80024 21.181973-8.80024 7.776956 0 15.553912 3.274508 21.079644 8.80024 5.525732 5.62806 8.80024 13.405016 8.80024 21.181973 0 7.776956-3.274508 15.656241-8.80024 21.181973-5.525732 5.525732-13.405016 8.697911-21.079644 8.697911-7.879285 0-15.656241-3.274508-21.181973-8.697911C485.292295 303.301289 482.017788 295.524333 482.017788 287.645048L482.017788 287.645048z"-->
        <!--p-id="3084"></path>-->
  <!--<path d="M512 946.844409c-239.8577 0-434.895573-195.037873-434.895573-434.895573 0-239.8577 195.037873-434.895573 434.895573-434.895573 239.755371 0 434.895573 195.037873 434.895573 434.895573C946.895573 751.806535 751.755371 946.844409 512 946.844409zM512 126.17088c-212.740682 0-385.880284 173.037274-385.880284 385.777955 0 212.740682 173.037274 385.777955 385.880284 385.777955 212.740682 0 385.777955-173.037274 385.777955-385.777955C897.777955 299.208154 724.740682 126.17088 512 126.17088z"-->
        <!--p-id="3085"></path>-->
<!--</svg>-->
<!--</span><span class="gt-ico-text">支持 Markdown 语法</span></span></a>-->
                            <!--<button class="gt-btn gt-btn-preview"><span class="gt-btn-text">预览</span></button>-->
                            <!--<button class="gt-btn gt-btn-login"><span class="gt-btn-text">使用 GitHub 登录</span></button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="gt-comments">-->
                    <!--<div style="position: relative;"></div>-->
                    <!--<p class="gt-comments-null">来做第一个留言的人吧！</p></div>-->
            <!--</div>-->
        </div>
    </div>
    <!--<div style="height: 220px; width: 700px; position: relative; margin: 0 70px;">-->
			<!--<textarea class="form-control" style="width: 600px; height: 200px; padding-bottom: 160px;"-->
                      <!--id="ccont" type="text" placeholder="评论内容"></textarea>-->
    <!--</div>-->
    <!--<div style="width: 500px; margin: 0 400px;">-->
        <!--<button class="btn btn-primary" type="submit"-->
                <!--onclick="insertcomment()">发表评论-->
        <!--</button>-->
        <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
        <!--<a href="/index">-->
            <!--<button class="btn btn-danger">返回主界面</button>-->
        <!--</a>-->
    <!--</div>-->
</div>
<div style="height: 100px; width: 1000px; margin: 0 auto; font-size: 20px; padding-top: 60px">
    <div class="row">
        <table class="table table-hover text-center">
            <tr>
                <td class='infor1' style="padding-left: 100px">&nbsp;&nbsp;&nbsp;&nbsp;用户</td>
                <td class='infor2' style="padding-left: 200px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;评价时间</td>
                <td class='infor3' style="padding-left: 200px">&nbsp;&nbsp;&nbsp;&nbsp;评价内容</td>
            </tr>
        </table>
    </div>
</div>
<div data-spy="scroll" data-target="#navbar-example" data-offset="0"
     style="height: 500px; width: 1000px; overflow: auto; position: relative; margin: 0 auto;">
    <div class="container" style="margin-top: 20px;height: 600px;" id="commentbox">
        <div class="row">
            <table class="table table-hover text-center">
                <tbody id="comment" style="height: 700px;"></tbody>
            </table>
        </div>
    </div>
</div>


<div th:replace="/common/footer::footer"></div>

</body>
<link rel="stylesheet"
      th:href="@{https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<script th:src="@{/plugin/js/jquery2.1.4.min.js}"></script>
<script th:src="@{/plugin/js/bootstrap.min.js}"></script>
<script th:src="@{/plugin/js/highlight.pack.js}"></script>
<script th:src="@{/front/js/detailBlog.js}"></script>
<script type="text/javascript">
    var gitalk = new Gitalk({
        clientID: 'd706b7f45851592c18bd', //Client ID

        clientSecret: '058ee7d942953afa14db6d03e6b1f1cd36179323', //Client Secret

        repo: 'lublog',//仓库名称
        owner: 'luxiyi',//仓库拥有者
        admin: ['luxiyi'],
        id:  decodeURI(window.location.pathname)   // Ensure uniqueness and length less than 50
        // distractionFreeMode: false  // Facebook-like distraction free mode
    })

    gitalk.render('gitalk-container')


    $(function() {
        var testEditormdView;
        /*$.get("test.md", function(markdown) {

            testEditormdView = editormd.markdownToHTML("test-editormd-view", {
                markdown        : markdown ,//+ "\r\n" + $("#append-test").text(),
                //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
                htmlDecode      : "style,script,iframe",  // you can filter tags decode
                //toc             : false,
                tocm            : true,    // Using [TOCM]
                //tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层
                //gfm             : false,
                //tocDropdown     : true,
                // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
                emoji           : true,
                taskList        : true,
                tex             : true,  // 默认不解析
                flowChart       : true,  // 默认不解析
                sequenceDiagram : true,  // 默认不解析
            });

            //console.log("返回一个 jQuery 实例 =>", testEditormdView);

            // 获取Markdown源码
            //console.log(testEditormdView.getMarkdown());

            //alert(testEditormdView.getMarkdown());
        });*/
        testEditormdView = editormd.markdownToHTML("test-editormd-view", {
            htmlDecode      : "style,script,iframe",  // you can filter tags decode
            emoji           : true,
            taskList        : true,
            tex             : true,  // 默认不解析
            flowChart       : true,  // 默认不解析
            sequenceDiagram : true,  // 默认不解析
        });
    });
</script>
</html>